.header{ 
		height:70px;
		width:99%; 
		color: black;
		text-align:center;
		padding-top:20px;
		padding-left:1%;
	    background: #EAEAEA;
}

#sidebar{ 
		/*top:60px; */
		width:200px;
		float: left;
		text-align:left;	
        background: #C8FC98;
        padding-left:10px;
        padding-right:10px;
        padding-top:20px;
        padding-bottom:10px;
}

.center{
		top:10%;
		margin-left:200px;
		margin-right: 1%;
		text-align:center;
}
#center{
		top:10%;
		margin-left:200px;
		margin-right: 1%;
		text-align:center;
}

#wrap {
        width:60%;
}

.footer{
	height: 4%;
	top:95%;
	width:100%;
	background-color:transparent;
	position: fixed;
	text-align: left;
}
.footer a{
		color:black;
}
